.loginMain {
  display: flex;
}

.loginLeft {
  flex-grow: 1;
  height: 100vh;
  background-color: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLeft img {
  width: 400px;
}

.loginRight {
  height: 100vh;
  flex-grow: 1;
}

.loginRightContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginRight form {
  display: flex;
  flex-direction: column;
}

.loginLogo {
  align-self: center;
  padding-top: 50px;
}

.loginCenter {
  margin: auto 0;
  text-align: center;
}

.loginLogo img {
  width: 50px;
}

.loginCenter h2 {
  font-size: 3.5rem;
}

.loginCenter p {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 40px;
}

form input[type='email'],
form input[type='password'],
form input[type='text'] {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: 0;
  border: 1px solid #ddd;
  outline: none;
  box-sizing: border-box;
}

.passInputDiv {
  position: relative;
}

.passInputDiv svg {
  font-size: 1rem;
  position: absolute;
  right: 10px;
  bottom: 35px;
  cursor: pointer;
  outline: none;
}

form login-button[type='button'] {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.loginCenterOptions {
  display: flex;
  justify-content: space-between;
}

.rememberDiv {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.rememberDiv label {
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2px;
}

.forgotPassLink {
  text-decoration: none;
  font-size: 1.3rem;
}

.forgotPassLink:hover {
  text-decoration: underline;
}

.loginCenterButtons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  row-gap: 10px;
}

.loginCenterButtons button:nth-child(1) {
  background-color: black;
  color: white;

  border: 3px solid black;
}

.loginCenterButtons button:nth-child(1):hover {
  color: #333;
  background-color: white;
}
/* .login-button{
  background-color: black;
  color: white;
  border: 3px solid black;
} */
.loginCenterButtons button:nth-child(2) {
  background-color: black;
  color: white;
padding: 0px;
  border: 3px solid black;
}

.loginCenterButtons button:nth-child(2) img {
  width: 30px;
}

.loginCenterButtons button:nth-child(2):hover {
  color: #333;
  background-color: white;
}

.loginBottomP {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.loginBottomP a {
  text-decoration: none;
  font-weight: 600;
}

.loginBottomP a:hover {
  text-decoration: underline;
}
