/* html, body {
  height: 100%;
  margin: 0;
} */
/* In AccountAddPage.css */
.suggestions-list {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute; /* Position it below the input */
  z-index: 10; /* Ensure it's above other content */
  background: #28a745; /* White background for visibility */
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}




.dropdown-toggle {
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  position: absolute;
  background-color: #fff;
  /* width: calc(100% - 0px); */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  margin-bottom: 10px;
}

.dropdown-item label {
  display: block;
  margin-bottom: 5px;
}

.appointment-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #e0e0e0, #f5f5f5);
  font-family: 'Arial', sans-serif;
}

.appointment-container {
  background: #ffffff;
  padding: 18px;
  border-radius: 15px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.appointment-form {
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  min-width: 200px;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 8px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  outline: none;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.98);
}

button.back-button {
  background-color: #6c757d;
}

button.back-button:hover {
  background-color: #5a6268;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
